<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ asset('bundles/tssearch/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/tssearch/css/main.css') }}">

    </head>

    <body class="main">

        <div class="container-fluid" id="bar">
            <div class="row">
                <h1>Impressum</h1>

                <p>
                    Timo Schmidt (Treyez Computerservice) <br/>
                    Schifferstraße 23 <br/>
                    55130 Mainz <br/>
                    EMail: timo-schmidt@gmx.net
                </p>
            </div>

        </div>


        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="{{ asset('bundles/tssearch/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/tssearch/js/main.js') }}"></script>

    </body>
</html>
