<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ asset('bundles/tssearch/css/main.css') }}" />
    </head>

    <body>
        <div id="bar">
            <div id="formcontainer">
                <p>Search incoming links in {{ count }} websites:</p>
                {{ include('TsSearchBundle:Default:searchform.html.twig') }}
            </div>
        </div>
    </body>
</html>
