{% block search %}
    <form action="searchUrl" method="post" class="search">
        <input type="text" name="url" id="url">
        <input type="submit" value="Search" id="submit"/>
    </form>
{% endblock %}